body {
  background-color: #000;
  margin: 0;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

pre {
  color: #fff;
  font-size: 12px;
  line-height: 1.085;
  letter-spacing: 1;
  font-family: C64 Pro Mono;
  display: inline;
}
